
.button[type=submit] {
  color: #fff;
  background-color: #e55a5a;
  @include box-shadow(1px 1px 1px 0px rgba(0, 0, 0, 0.2));

  &:active {
    @include box-shadow(1px 1px 1px 0px rgba(0, 0, 0, 0.4) inset);
  }
}

.button {
  display: inline-block;
  color: #a5a5a5;
  background-color: #fff;
  min-width: 40px;
  padding: 10px 30px;
  margin: 2px;
  border-radius: 2px;
  font-weight: 100;
  border: none;
  cursor: pointer;
  line-height: 2.4rem;
  line-height: 24px;
  text-align: center;
  @include font-size(2);
  @include box-shadow(1px 1px 1px 0px rgba(0, 0, 0, 0.1));

  &:active {
    @include box-shadow(1px 1px 1px 0px rgba(0, 0, 0, 0.3) inset);
  }
}
