
[type=text],
[type=password] {
  border: none;
  padding: 0 10px;
  height: 35px;
  border-radius: 2px;
  width: calc(100% - 20px);
  @include font-size(2);
  @include box-shadow(rgba(0, 0, 0, 0.2) 1px 1px 1px 0px inset);
}

:focus {
  outline: none;
}
