
@include keyframes(infinite-spinning) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

.com-spinner {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 0;
  @include animation(infinite-spinning 1.2s infinite linear);
  @include transition(transform 0.4s, opacity 0.4s linear);

  .is-waiting & {
    opacity: 0;
    @include transform(scale(0, 0));
  }

  .is-loading & {
    opacity: 1;
    @include transform(scale(1, 1));
  }
}
