
$padding-left: 40px;
$padding-right: 20px;

.translations {
  padding: $padding-left 0 0;
  background-color: #e2e2e2;
  overflow: hidden;

  &.hidden {
    display: none;
  }
}

.translations-header {
  font-weight: 100;
  margin-bottom: 40px;
  overflow: hidden;
  @include font-size(4.2);
}

.translations{
  .translation {
    cursor: pointer;
    overflow: hidden;
    padding: 10px 0;

    &:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.translation:last-child {
  margin-bottom: 40px;
}

.translation-col {
  float: left;
  width: calc(50% - #{$padding-left + $padding-right});
  padding-left: $padding-left;
  padding-right: $padding-right;
  word-wrap: break-word;
}

.translation-load-anchor {
  height: 60px;
  display: block;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;

  &:hover {
    color: #fff;
  }
}
