var currentMonth = month;
var currentDate = date_;
var count = 0;
var exploringDate;
while(currentMonth === month) {
  currentDate =  currentDate - 7;
  exploringDate = new Date(year, month, currentDate);
  currentMonth = exploringDate.getMonth();
  count++;
}
count += '';
dateString += count;