{{?it.format === 1}}
dateString += it.{{=it.variableName}}.timezone;
{{??it.format === 2}}
dateString += it.{{=it.variableName}}.timezone.replace(/^.+\//, '').replace('_', ' ');
{{??}}
dateString += it.{{=it.variableName}}.timezone.replace(/^.+\//, '').replace('_', ' ') + ' Time';
{{?}}
