var days = [
  '{{=it.days.mon}}',
  '{{=it.days.tue}}',
  '{{=it.days.wed}}',
  '{{=it.days.thu}}',
  '{{=it.days.fri}}',
  '{{=it.days.sat}}',
  '{{=it.days.sun}}'
];
var day = date.getDay();
if(day === 0) {
  day = 6;
}
else {
  day--;
}
string += days[day];