var monthStrings = [
  '{{=it.monthStrings['1']}}',
  '{{=it.monthStrings['2']}}',
  '{{=it.monthStrings['3']}}',
  '{{=it.monthStrings['4']}}',
  '{{=it.monthStrings['5']}}',
  '{{=it.monthStrings['6']}}',
  '{{=it.monthStrings['7']}}',
  '{{=it.monthStrings['8']}}',
  '{{=it.monthStrings['9']}}',
  '{{=it.monthStrings['10']}}',
  '{{=it.monthStrings['11']}}',
  '{{=it.monthStrings['12']}}'
];
dateString += monthStrings[month];