var start = new Date(date.getFullYear(), 0, 0);
var diff = now - start;
var oneDay = 1000 * 60 * 60 * 24;
var day = Math.floor(diff / oneDay) + '';{{?it.padding}}
{{=it.padding}}{{?}}{{?it.numeralReplace}}
{{=it.numeralReplace}}{{?}}
string += day;