var date;
var dateString = '';
if(typeof it.{{=it.variableName}} === 'string') {
  date = new Date(it.{{=it.variableName}});
}
else {
  date = it.{{=it.variableName}};
}
var month = date.getMonth();
var date_ = date.getDate();