var date;
var dateString = '';
var year;
var month;
var date_;
var hours;
var minutes;
var seconds;
var milliseconds;
if(
  it.{{=it.variableName}} instanceof Date ||
  it.{{=it.variableName}}.time instanceof Date
) {
  if(it.{{=it.variableName}} instanceof Date) {
    date = it.{{=it.variableName}};
  }
  else if(it.{{=it.variableName}}.time instanceof Date){
    date = new Date(it.{{=it.variableName}});
  }

  month = date.getUTCHours();
}
else {

}

if(typeof it.{{=it.variableName}}.toTimeZone === 'string') {

}