.search-region {
  @include span-columns(6, 12);
}

.menu-items-region {
  @include span-columns(5, 12);
}

.body-region {
  background-color: rgb(226, 226, 226);
  color: rgb(90, 90, 90);
  margin-bottom: 40px;
  padding-bottom: 40px;
  min-height: 500px;
  @include span-columns(12, 12);
}

.footer-region {
  @include span-columns(12, 12);
}

.locales-pick-region {
  margin-bottom: 20px;
  margin-top: 80px;
}
