.idea
.vscode
debug/
release/
bin/
src/Program/Configurations.h
src/Vendors/*/Makefile
src/Vendors/Glob/libglob.a
src/Tests/Currents
src/Extensions/JavaScript/node_modules
src/Extensions/JavaScript/Build