npm-debug.log
node_modules/
!node_modules/lib
test/translations/delete.log
.sass-cache/
.l10ns/
docs/
interface/public/images/default-*
interface/public/images/default2x-*
interface/public/images-webp/
interface/public/styles/
interface/public/scripts/
interface/public/templates/**/*
interface/vendor/**/*
plugins/javascript/templates/build/
plugins/javascript/specifications/templates/build/

app/page/document/build/
app/page/layout/build/

temp
tests