//
// Documents & layouts
//

// Configurations
$sprite-folders : default;

$mobile: 0px 500px;
$tablet: 0px 900px;
$desktop: 401px;

// General styles
@import "animation";
@import "compass";
@import "compass-placeholder";
@import "breakpoint";

// Reset
@include global-reset();

// H5bp
@import "h5bp";
@include h5bp-base-styles;
@include h5bp-helpers;

// Box sizing
@import "compass/css3/box-sizing";

// Components
@import "../../components/fonts";
@import "../../components/inputs";
@import "../../components/buttons";

// Layouts
@import "../../layouts/app";
