//
// Documents & layouts
//

// General styles
@import "animation";
@import "compass";
@import "compass-placeholder";

// Reset
@include global-reset();

// Make tables block elements
table, tr, td {
  display: block;
}

thead, tbody {
  display: block;
  overflow: hidden;
}

/* Vendor */
@import "CSS:../../vendor/nprogress/nprogress";
#nprogress .bar {
  background: #3CE731;
  z-index: 10000;
}

// Box sizing
@import "compass/css3/box-sizing";

// Components
@import "../../components/fonts";
@import "../../components/inputs";
@import "../../components/buttons";

// Layouts
@import "../../layouts/app";
