//
// Documents & layouts
//

// General styles
@import "animation";
@import "compass";
@import "compass-placeholder";

// Reset
@include global-reset();

// Make tables block elements
table, tr, td {
  display: block;
}

thead, tbody {
  display: block;
  overflow: hidden;
}

// H5bp
@import "h5bp";
@include h5bp-base-styles;
@include h5bp-helpers;

// Box sizing
@import "compass/css3/box-sizing";

// Components
@import "../../components/fonts";
@import "../../components/inputs";
@import "../../components/buttons";

// Layouts
@import "../../layouts/app";
