var calendarYear = date.getFullYear();
var date_ = date.getDate();
var month = date.getMonth();
var year;
{{?it.startOfWeek === 0}}if(month === 0 && date_ < 4 || month === 11 && date_ > 28) {
  if(date_ < 4) {
    var startOfWeekBasedYearDate;
    var startOfThisCalendarYearDay = new Date(calendarYear + '-01-01').getDay();
    if(startOfThisCalendarYearDay === 0) {
      startOfThisCalendarYearDay = 7;
    }
    if(startOfThisCalendarYearDay <= 4) {
      startOfWeekBasedYearDate = 1;
    }
    else {
      startOfWeekBasedYearDate = 1 + 7 - startOfThisCalendarYearDay + 1;
    }
    if(date_ >= startOfWeekBasedYearDate) {
      year = calendarYear;
    }
    else {
      year = calendarYear - 1;
    }
  }
  else {
    var endOfThisWeekBasedYearDate;
    var endOfThisCalendarYearDay = new Date(calendarYear + '-12-31').getDay();
    if(endOfThisCalendarYearDay === 0) {
      endOfThisCalendarYearDay = 7;
    }
    if(endOfThisCalendarYearDay >= 4) {
      endOfThisWeekBasedYearDate = 31;
    }
    else {
      endOfThisWeekBasedYearDate = 31 - endOfThisCalendarYearDay;
    }
    if(date_ <= endOfThisWeekBasedYearDate) {
      year = calendarYear;
    }
    else {
      year = calendarYear + 1;
    }
  }
}
else {
  year = calendarYear;
}
year = year + '';{{??}}if(month === 0 && date_ < 4 || month === 11 && date_ > 28) {
  if(date_ < 4) {
    var startOfWeekBasedYearDate;
    var startOfThisCalendarYearDay = new Date(calendarYear + '-01-01').getDay();
    if(startOfThisCalendarYearDay <= 3) {
      startOfWeekBasedYearDate = 1;
    }
    else {
      startOfWeekBasedYearDate = 1 + 7 - startOfThisCalendarYearDay + 1;
    }
    if(date_ >= startOfWeekBasedYearDate) {
      year = calendarYear;
    }
    else {
      year = calendarYear - 1;
    }
  }
  else {
    var endOfThisWeekBasedYearDate;
    var endOfThisCalendarYearDay = new Date(calendarYear + '-12-31').getDay();
    if(endOfThisCalendarYearDay >= 3) {
      endOfThisWeekBasedYearDate = 31;
    }
    else {
      endOfThisWeekBasedYearDate = 31 - endOfThisCalendarYearDay - 1;
    }
    if(date_ <= endOfThisWeekBasedYearDate) {
      year = calendarYear;
    }
    else {
      year = calendarYear + 1;
    }
  }
}
else {
  year = calendarYear;
}
year = year + '';{{?}}