{{?it.format === 1}}if(timezoneOffsetType === 's') {
  if(this.__timezones[it.{{=it.variableName}}.timezone].name.short.standard) {
    dateString += this.__timezones[it.{{=it.variableName}}.timezone].name.short.standard;
  }
  else {
    dateString += this.__timezones[it.{{=it.variableName}}.timezone].GMTFormat.replace('{0}', getTimezoneOffset(timezoneOffset, { zeroPaddingHours: false, minutes: false, colon: false }));
  }
}
else {
  if(this.__timezones[it.{{=it.variableName}}.timezone].name.short.daylight) {
    dateString += this.__timezones[it.{{=it.variableName}}.timezone].name.short.daylight;
  }
  else {
    dateString += this.__timezones[it.{{=it.variableName}}.timezone].GMTFormat.replace('{0}', getTimezoneOffset(timezoneOffset, { zeroPaddingHours: false, minutes: false, colon: false }));
  }
}{{??}}if(timezoneOffsetType === 's') {
  if(this.__timezones[it.{{=it.variableName}}.timezone].name.long.standard) {
    dateString += this.__timezones[it.{{=it.variableName}}.timezone].name.long.standard;
  }
  else {
    dateString += getLongLocalizedGMT(this.__timezones[it.{{=it.variableName}}.timezone].GMTFormat, timezoneOffset);
  }
}
else {
  if(this.__timezones[it.{{=it.variableName}}.timezone].name.long.daylight) {
    dateString += this.__timezones[it.{{=it.variableName}}.timezone].name.long.daylight;
  }
  else {
    dateString += getLongLocalizedGMT(this.__timezones[it.{{=it.variableName}}.timezone].GMTFormat, timezoneOffset);
  }
}{{?}}
