{{?it.startOfWeek === 0}}var dateCopy = new Date(+date);
dateCopy.setHours(0,0,0);
dateCopy.setDate(dateCopy.getDate() + 4 - (dateCopy.getDay() || 7 ));
var monthStart = new Date(dateCopy.getFullYear(),dateCopy.getMonth(), 1);
var week = Math.ceil((((dateCopy - monthStart) / 86400000) + 1)/7);
dateString += week;{{??}}var dateCopy = new Date(+date);
dateCopy.setHours(0,0,0);
dateCopy.setDate(dateCopy.getDate() + 3 - dateCopy.getDay());
var monthStart = new Date(dateCopy.getFullYear(),dateCopy.getMonth(), 1);
var week = Math.ceil((((dateCopy - monthStart) / 86400000) + 1)/7);
dateString += week;{{?}}