//
// Documents & layouts
//

// Mixin that allows to specify arbitrary CSS properties with
// unitless numbers. The output has rem unit with pixel fallback.
// Shorthand assignments are supported too!
$base-line: 10;

@mixin font-size($value) {
  font-size : #{ $value * $base-line + px };
  font-size : #{ $value + rem };
}

// Configurations
$sprite-folders : default;
@import "compass-retina-sprites";

$mobile: 0px 500px;
$tablet: 0px 900px;
$desktop: 501px;

// General styles
@import "animation";
@import "compass";
@import "breakpoint";
@import "compass-placeholder";

// Contents
@import "../translations/Translations";
@import "../translation/Translation";
@import "../search/Search";
@import "../locales/Locales";

// Components
@import "../../components/spinner";

