//
// Documents & layouts
//

// Mixin that allows to specify arbitrary CSS properties with
// unitless numbers. The output has rem unit with pixel fallback.
// Shorthand assignments are supported too!
$base-line: 10;

@mixin font-size($value) {
  font-size : #{ $value * $base-line + px };
  font-size : #{ $value + rem };
}

// Configurations
$sprite-folders : default;
@import "compass-retina-sprites";

// General styles
@import "animation";
@import "compass";
@import "compass-placeholder";

// Contents
@import "../localizations/Localizations";
@import "../localization/Localization";
@import "../search/Search";
@import "../locales/Locales";
@import "../home/Home";

// Components
@import "../../components/spinner";

