.wechat-header {
  height: 45px;
  overflow: hidden;
  @include background(linear-gradient(#414553, #2c2f39));
}

.wechat-logo-container {
  line-height: 50px;
  width: 50px;
  float: left;
  border-right: 1px solid #000;
  @include box-shadow(1px 0px 0px 0px #5a5d65);
}

.p1-logo {
  @include transform(scale(0.6, 0.6));
}