.search-result-bar {
  padding: 30px 20px;
  margin-top: 20px;
}

.search-result-bar-query {
  font-size: 24px;
  color: #5a5a5a;
}

.search-result-bar-back {
  color: #08c;
  margin-left: 40px;
  font-size: 24px;
  cursor: pointer;
}

.search-result-bar-back:hover {
  text-decoration: underline;
}
