var number;
if(it.{{=it.variableName}}.amount >= 0) {
  number =
{{=it.positive}}
}
else {
  number =
{{=it.negative}}
}
currencyString += localizations['{{=it.locale}}'].__currencyUnitPattern[pluralKeyword].replace('{0}', number).replace('{1}', unit);