string += formatNumber({
  number: it.{{=it.variableName}},
  type: '{{=it.type}}',
  roundTo: {{=it.roundTo}},
  prefix: '{{=it.prefix}}',
  suffix: '{{=it.suffix}}',
  percentage: {{=it.percentage}},
  permille: {{=it.permille}},{{?it.currency}}
  currency: {
    type: '{{=it.currency.type}}',
    context: '{{=it.currency.symbol}}'
  },{{??}}
  currency: null,{{?}}{{?it.groupSize}}
  groupSize: {
    primary: {{=it.groupSize.primary}},
    secondary: {{=it.groupSize.secondary}}
  },{{??}}
  groupSize: null,{{?}}{{?it.exponent}}
  exponent: {
    digits: {{=it.exponent.digits}},
    plusSign: {{=it.exponent.plusSign}}
  },{{??}}
  exponent: null,{{?}}
  minimumIntegerDigits: {{=it.minimumIntegerDigits}},
  maximumIntegerDigits: {{=it.maximumIntegerDigits}},
  minimumFractionDigits: {{=it.minimumFractionDigits}},
  maximumFractionDigits: {{=it.maximumFractionDigits}},
  minimumSignificantDigits: {{=it.minimumSignificantDigits}},
  maximumSignificantDigits: {{=it.maximumSignificantDigits}},
  symbols: localizations['{{=it.locale}}'].__numberSymbols
});