function(cardinal) {
{{?it.functionBody !== '  return \'other\';'}}  var cardinal = cardinal + ''
    , n = cardinal
    , i = parseInt(cardinal, 10)
    , v = 0
    , w = 0
    , f = 0
    , t = 0;

  var hasFractionalDigitsSyntax = /\.(\d+)/;

  if(hasFractionalDigitsSyntax.test(cardinal)) {
    f = fractionalDigits.exec(cardinal)[1];
    v = f.length;
  }
  if(hasFractionalDigitsSyntax.test(cardinal)) {
    t = cardinal.replace(/0+$/, '');
    t = fractionalDigits.exec(t)[1];
    w = t.length;
  }{{?}}{{=it.functionBody}}
},