;(function() {
{{?it.hasTimezone}}{{=it.timezones}}

{{=it.getTimezoneOffsetFunction}}

{{=it.getLongLocalizedGMTFunction}}
{{?}}
{{=it.roundUpFunction}}

{{=it.formatNumberFunction}}

{{=it.localizationMap}}

{{=it.functionBlock}}

{{=it.moduleExportBlock}}
})();
