;(function() {
{{=it.roundUpFunction}}

{{=it.formatNumberFunction}}

{{=it.localizationMap}}

{{=it.requireStatement}}

  if(typeof require === "function" && typeof exports === 'object' && typeof module === 'object') {
    module.exports = requireLocalizations;
  }
  else if (typeof define === "function" && define.amd) {
    define(function() {
      return requireLocalizations;
    });
  }
  else {
    window.requireLocalizations = requireLocalizations;
  }
})();
