function l(key) {
  if(!(key in localizations['{{=it.language}}'])) {
    throw new TypeError('Key `' + key + '` not in {{=it.language}} localizations');
  }
  return localizations['{{=it.language}}'][key].call(localizations['{{=it.language}}'], arguments[1]);
}