if(typeof require === "function" && typeof exports === 'object' && typeof module === 'object') {
  module.exports = {{=it.variableName}};
}
else if (typeof define === "function" && define.amd) {
  define(function() {
    return {{=it.variableName}};
  });
}
else {
  window.{{=it.variableName}} = {{=it.variableName}};
}