function requireLocalizations(locale) {
  return (function(locale) {
    return function l(key) {
      if(!(locale in localizations)) {
        return 'LOCALE_NOT_IN_LOCALIZATIONS: ' + locale;
      }
      if(!(key in localizations[locale])) {
        return 'KEY_NOT_IN_LOCALIZATIONS: ' + key;
      }
      return localizations[locale][key].call(localizations[locale], arguments[1]);
    };
  })(locale);
};