function requireLocale(locale) {
  return (function(locale) {
    return function l(key) {
      if(!(locale in localizations)) {
        return 'LOCALE_NOT_IN_LOCALIZATIONS: ' + locale;
      }
      if(!(key in localizations[locale])) {
        return 'KEY_NOT_IN_LOCALIZATIONS: ' + key;
      }
      var variables = {};
      for(var variable in arguments[1]) {
        variables[variable.replace(/^\w+\s+/, '')] = arguments[1][variable];
      }
      return localizations[locale][key].call(undefined, variables);
    };
  })(locale);
};