

.translation {
  position: relative;
  padding: 40px;
  color: white;
  font-weight: lighter;
  overflow:hidden;
  z-index: 100;
}

.translation-body, .translation-head {
  display: block;
  overflow: hidden;
}

.translation-key {
  color: white;
  font-size: 38px;
  font-weight: lighter;
  word-break: break-all;
  margin-bottom: 30px;
}

.translation-vars {
  float: left;
  min-width: 120px;
  @include span-columns(3, 12);
  @media( max-width: 720px) {
    @include span-columns(12, 12);
  }
}

.translation-vars-vars {
  margin-top: 10px;
}

.translation-header {
  border-bottom: 1px solid #acacac;
  padding: 6px 0px;
  font-size: 20px;
}

.translation-values {
  float: left;
  width: 400px;
  @include span-columns(9 omega, 12);
  @media( max-width: 720px) {
    margin-top: 20px;
    @include span-columns(12, 12);
  }
}

.translation-form {
  position: relative;
}

.translation-input {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  color: #333;
  font-size: 18px;
  outline: none;
}

.translation-input-helper {
  margin-top: 10px;
  position: relative;
  height: 30px;
}

.translation-button-container {
  margin-top: 10px;
}

.translation-save {
  float: right;
}

.translation-loading-frame {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
  display: none;
}

.translations-edit-cell.saving .translation-loading-frame {
  display: block;
}

.translation-loading-container {
  display: inline-block;
  top: 30%;
  position: relative;
}

.translation-loading-indicator {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url(../../public/images/main/loading.png);
  @include animation(clock-spinleft 750ms linear 0s infinite);
}

.translation-loading-indicator-helper {
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

.translation-loading-text {
  margin-left: 20px;
  font-size: 1.3em;
}

@include keyframes(clock-spinleft) {
    from { @include rotate(0deg); }
    to { @include rotate(-360deg); }
}
