
.input {
  width: calc(100% - 23px);
  margin-right: 2px;
  margin-left: 1px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border: 1px solid #cbcbcb;

  &:focus {
    border: 1px solid #FF5757;
  }
}
