
.edit-input {
  width: calc(100% - 23px);
  margin-right: 2px;
  margin-left: 1px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  @include box-shadow(rgba(0, 0, 0, 0.3) 1px 1px 1px 0px inset);
}
