
.input {
  width: calc(100% - 22px);
  margin-right: 2px;
  margin-left: 0px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border: 1px solid #cbcbcb;

  &:focus {
    border: 1px solid #757575;
  }
}
