
$horizontal-padding: 10px;

.search-layout {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.search {
  width: calc(100% - #{2*$horizontal-padding});
  color: white;
  background-color: #e77f7f;
  border: none;
  height: 30px;
  margin: auto 0;
  padding: 0 $horizontal-padding;
  border-radius: 2px;
  @include font-size(1.6);
  @include box-shadow(rgba(0, 0, 0, 0.2) 1px 1px 1px 0px inset);
}
