/* Imports of vendors */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/toolkit-0\.2\.6\/stylesheets\/toolkit\/_border-box\.scss}line{font-family:\000038}}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/toolkit-0\.2\.6\/stylesheets\/toolkit\/_fluid-media\.scss}line{font-family:\000034}}
img, video {
  max-width: 100%;
  height: auto;
}

/* Images */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/main\/\*\.png}line{font-family:\0000350}}
.main-sprite, .main-eye-glass, .main-loading {
  background: url('../../public/images/main-s4f615625ed.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.main-eye-glass {
  background-position: 0 -80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.main-loading {
  background-position: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/conf\/style\.scss}line{font-family:\0000368}}
.page {
  *zoom: 1;
  max-width: 45em;
  _width: 45em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.page:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/conf\/style\.scss}line{font-family:\0000372}}
.main-menu ul {
  *zoom: 1;
  max-width: 45em;
  _width: 45em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.main-menu ul:after {
  content: "";
  display: table;
  clear: both;
}

/* Import of utilities */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-retina-sprites-0\.0\.2\/stylesheets\/_compass-retina-sprites\.scss}line{font-family:\0000330}}
i {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-retina-sprites-0\.0\.2\/stylesheets\/_compass-retina-sprites\.scss}line{font-family:\0000365}}
.sp-icons {
  background: url('../../public/images/icons-s927c82de1a.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx), (min-resolution: 192dpi) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-retina-sprites-0\.0\.2\/stylesheets\/_compass-retina-sprites\.scss}line{font-family:\0000365}}
  .sp-icons {
    background: url('../../public/images/icons2x-se79fffbc32.png');
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-retina-sprites-0\.0\.2\/stylesheets\/_compass-retina-sprites\.scss}line{font-family:\0000381}}
.sp-icons-arrow {
  display: inline-block;
  height: 16px;
  width: 30px;
  background-position: 0 0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 3 / 2), (min-resolution: 1.5dppx), (min-resolution: 19dpi) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-retina-sprites-0\.0\.2\/stylesheets\/_compass-retina-sprites\.scss}line{font-family:\0000381}}
  .sp-icons-arrow {
    background-position: 0 0;
    height: 10px;
    width: 18px;
    background-size: 18px auto;
  }
}

/* General styles */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/conf\/style\.scss}line{font-family:\0000388}}
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Base */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_base\.scss}line{font-family:\000033}}
body {
  background-color: #ebebeb;
  color: #f3f3f3;
  font: 200 16px "Helvetica Neue", helvetica, Arial;
  -webkit-font-smoothing: antialiased;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_base\.scss}line{font-family:\0000310}}
input {
  padding-left: 4px;
  padding-right: 4px;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  font-family: "Helvetica Neue", helvetica, Arial;
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_base\.scss}line{font-family:\0000319}}
.hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_base\.scss}line{font-family:\0000323}}
.bg-dark-grey {
  background-color: #e2e2e2;
}

/* Components */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_menues\.scss}line{font-family:\000031}}
.main-menu {
  position: fixed;
  top: 0;
  background-color: #e04d4d;
  height: 40px;
  width: 100%;
  z-index: 10000;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_menues\.scss}line{font-family:\0000310}}
.menu-item {
  cursor: pointer;
  font: thin 18px helvetica;
  height: 100%;
  line-height: 40px;
  padding: 0px 13px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_menues\.scss}line{font-family:\0000318}}
.menu-item.active {
  background-color: rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_menues\.scss}line{font-family:\0000322}}
.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_buttons\.scss}line{font-family:\000031}}
.white-button {
  display: inline-block;
  border-radius: 2px;
  padding: 9px 5px;
  font-size: 18px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_buttons\.scss}line{font-family:\0000312}}
.white-button:active {
  -webkit-box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_buttons\.scss}line{font-family:\0000316}}
.white-button {
  background-color: #d7d7d7;
  color: #838383;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_buttons\.scss}line{font-family:\0000321}}
.white-button:active {
  background-color: #c8c8c8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_forms\.scss}line{font-family:\000031}}
.form-submit {
  background-color: white;
  width: 80px;
  border: none;
  background-color: #e55a5a;
  font-size: 18px;
  font-weight: lighter;
  font-family: "Helvetica Neue", helvetica, Arial;
  padding: 8px 5px;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/lib\/scss\/_forms\.scss}line{font-family:\0000315}}
.form-submit:active {
  background-color: #cf5151;
  -webkit-box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

/* Regions */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/pages\/translations\/_translationsPage\.scss}line{font-family:\000031}}
.search-region {
  position: relative;
  width: 100%;
  float: left;
  margin-right: 6.66667%;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/pages\/translations\/_translationsPage\.scss}line{font-family:\000036}}
.menu-items-region {
  width: 37.77778%;
  float: left;
  margin-right: 6.66667%;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/pages\/translations\/_translationsPage\.scss}line{font-family:\0000310}}
.body-region {
  background-color: #e2e2e2;
  color: #5a5a5a;
  margin-bottom: 100px;
  min-height: 500px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  float: left;
  margin-right: 6.66667%;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/pages\/translations\/_translationsPage\.scss}line{font-family:\0000319}}
.footer-region {
  width: 100%;
  float: left;
  margin-right: 6.66667%;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/pages\/translations\/_translationsPage\.scss}line{font-family:\0000323}}
.locales-pick-region {
  margin-bottom: 20px;
  margin-top: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/pages\/translations\/_translationsPage\.scss}line{font-family:\0000328}}
.search-result-region {
  position: relative;
  margin-top: 50px;
  width: 100%;
  float: left;
  margin-right: 6.66667%;
  display: inline;
}

/* Modules */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\000033}}
.translation {
  position: relative;
  padding: 40px;
  color: white;
  font-weight: lighter;
  overflow: hidden;
  z-index: 100;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000312}}
.translation-body, .translation-head {
  display: block;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000317}}
.translation-key {
  color: white;
  font-size: 38px;
  font-weight: lighter;
  word-break: break-all;
  margin-bottom: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000325}}
.translation-vars {
  float: left;
  min-width: 120px;
  width: 20%;
  float: left;
  margin-right: 6.66667%;
  display: inline;
}
@media (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000325}}
  .translation-vars {
    width: 100%;
    float: left;
    margin-right: 6.66667%;
    display: inline;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000334}}
.translation-vars-vars {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000338}}
.translation-header {
  border-bottom: 1px solid #acacac;
  padding: 6px 0px;
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000344}}
.translation-values {
  float: left;
  width: 400px;
  width: 73.33333%;
  float: right;
  margin-right: 0;
  *margin-left: -3em;
  display: inline;
}
@media (max-width: 720px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000344}}
  .translation-values {
    margin-top: 20px;
    width: 100%;
    float: left;
    margin-right: 6.66667%;
    display: inline;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000354}}
.translation-form {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000358}}
.translation-input {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0px;
  color: #333;
  font-size: 18px;
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000370}}
.translation-input-helper {
  margin-top: 10px;
  position: relative;
  height: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000376}}
.translation-button-container {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000380}}
.translation-save {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000384}}
.translation-loading-frame {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000395}}
.translations-edit-cell.saving .translation-loading-frame {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\0000399}}
.translation-loading-container {
  display: inline-block;
  top: 30%;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\00003105}}
.translation-loading-indicator {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url(../../public/images/main/loading.png);
  -webkit-animation: clock-spinleft 750ms linear 0s infinite;
  -moz-animation: clock-spinleft 750ms linear 0s infinite;
  -ms-animation: clock-spinleft 750ms linear 0s infinite;
  -o-animation: clock-spinleft 750ms linear 0s infinite;
  animation: clock-spinleft 750ms linear 0s infinite;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\00003113}}
.translation-loading-indicator-helper {
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translation\/_translation\.scss}line{font-family:\00003119}}
.translation-loading-text {
  margin-left: 20px;
  font-size: 1.3em;
}

@-moz-keyframes clock-spinleft {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes clock-spinleft {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-o-keyframes clock-spinleft {
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-ms-keyframes clock-spinleft {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes clock-spinleft {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\000031}}
.translations {
  width: 100%;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\000036}}
.translations-title {
  font-size: 2em;
  font-weight: lighter;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000311}}
.translations-title-layout {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000315}}
.translations-header {
  display: block;
  margin-top: 30px;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000321}}
.translations-body {
  margin-top: 30px;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000330}}
.translations-first-col {
  width: 46.66667%;
  float: left;
  margin-right: 6.66667%;
  display: inline;
}
@media (max-width: 415px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000330}}
  .translations-first-col {
    width: 100%;
    float: left;
    margin-right: 6.66667%;
    display: inline;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000336}}
.translations-first-col .translations-title {
  margin-left: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000339}}
.translations-first-col .translations-text {
  margin-left: 40px;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000345}}
.translations-text {
  padding: 5px 0px;
  margin-right: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000350}}
.translations-second-col {
  width: 46.66667%;
  float: right;
  margin-right: 0;
  *margin-left: -3em;
  display: inline;
}
@media (max-width: 415px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000350}}
  .translations-second-col {
    display: none !important;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000357}}
.translations-row {
  display: block;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  float: left;
  margin-right: 6.66667%;
  display: inline;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000366}}
.translations-row:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000369}}
.translations-row.active {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000373}}
.translations-row.initial {
  max-height: 29px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000376}}
.translations-row.expanded {
  max-height: 800px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000381}}
.translations-edit-row {
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000389}}
.translations-edit-cell {
  display: inline-block;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\0000394}}
.translations-key, .translations-value {
  font-size: 1.2em;
  font-weight: lighter;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\00003103}}
.translations-pagination {
  display: block;
  float: left;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\00003111}}
.translation-pagination-load-more-button {
  display: block;
  text-align: center;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/translations\/views\/translations\/_translations\.scss}line{font-family:\00003119}}
.translation-pagination-load-more-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\000031}}
.locales-button {
  position: relative;
  color: #5a5a5a;
  border: 1px solid #959595;
  border-radius: 6px;
  display: inline-block;
  min-width: 100px;
  font-size: 18px;
  padding: 11px 70px 11px 39px;
  cursor: pointer;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #d1d1d1));
  background: -webkit-linear-gradient(#f4f4f4, #d1d1d1);
  background: -moz-linear-gradient(#f4f4f4, #d1d1d1);
  background: -o-linear-gradient(#f4f4f4, #d1d1d1);
  background: linear-gradient(#f4f4f4, #d1d1d1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\0000313}}
.locales-button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e4e4), color-stop(100%, #c2c2c2));
  background: -webkit-linear-gradient(#e5e4e4, #c2c2c2);
  background: -moz-linear-gradient(#e5e4e4, #c2c2c2);
  background: -o-linear-gradient(#e5e4e4, #c2c2c2);
  background: linear-gradient(#e5e4e4, #c2c2c2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\0000317}}
.locales-button:active, .locales-button.active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1d1d1), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(#d1d1d1, #f4f4f4);
  background: -moz-linear-gradient(#d1d1d1, #f4f4f4);
  background: -o-linear-gradient(#d1d1d1, #f4f4f4);
  background: linear-gradient(#d1d1d1, #f4f4f4);
}
@media (max-width: 415px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\000031}}
  .locales-button {
    display: block;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\0000326}}
.locales-arrow-container {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #a2a2a2;
  height: 60%;
  margin-top: 6px;
  width: 50px;
  text-align: center;
  padding-top: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\0000338}}
.locales-selection {
  position: absolute;
  left: 0;
  top: 120%;
  background-color: white;
  width: 300px;
  padding: 10px 0px;
  z-index: 100;
  border-radius: 4px;
  border: 1px solid #a2a2a2;
  margin-left: -1px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 420px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\0000338}}
  .locales-selection {
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\0000355}}
.locales-selection-option {
  border-bottom: 1px solid #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\0000358}}
.locales-selection-option:last-child {
  border-bottom: 0px solid #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\0000362}}
.locales-selection-option:hover {
  background-color: #4183c4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\0000365}}
.locales-selection-option:hover .locales-selection-option-text {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/locales\/_locales\.scss}line{font-family:\0000371}}
.locales-selection-option-text {
  text-indent: 40px;
  color: #5a5a5a;
  text-decoration: none;
  width: 100%;
  padding: 6px 0px;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\000031}}
.search-result {
  margin-top: 20px;
  width: 100%;
  background-color: #e2e2e2;
  color: #5a5a5a;
  font-size: 19px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000310}}
.search-result-header {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000314}}
.search-result-list {
  margin-bottom: 40px;
  padding-bottom: 40px;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000320}}
.search-result-col-container {
  padding: 30px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000324}}
.search-result-header-text {
  font-size: 1.8em;
  font-weight: lighter;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000329}}
.search-result-header-text-locale {
  margin-left: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000333}}
.search-result-item-translation {
  margin-right: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000337}}
.search-result-col {
  padding: 5px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000341}}
.search-result-first-col {
  width: 11.68831%;
  float: left;
  margin-right: 3.8961%;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000345}}
.search-result-second-col {
  width: 37.66234%;
  float: left;
  margin-right: 3.8961%;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000349}}
.search-result-third-col {
  width: 42.85714%;
  float: right;
  margin-right: 0;
  *margin-left: -3em;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000353}}
.search-result-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000358}}
.search-result-item {
  width: 100%;
  float: left;
  margin-right: 3.8961%;
  display: inline;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000363}}
.search-result-item-text {
  font-weight: 200;
  padding: 5px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResult\.scss}line{font-family:\0000368}}
.search-result-item-locale {
  margin-left: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResultBar\.scss}line{font-family:\000031}}
.search-result-bar {
  padding: 30px 20px;
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResultBar\.scss}line{font-family:\000036}}
.search-result-bar-query {
  font-size: 24px;
  color: #5a5a5a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResultBar\.scss}line{font-family:\0000311}}
.search-result-bar-back {
  color: #08c;
  margin-left: 40px;
  font-size: 24px;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_searchResultBar\.scss}line{font-family:\0000318}}
.search-result-bar-back:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_search\.scss}line{font-family:\000034}}
.search {
  margin-top: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_search\.scss}line{font-family:\000038}}
.search-input-container {
  width: 73.33333%;
  float: left;
  margin-right: 6.66667%;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_search\.scss}line{font-family:\0000312}}
.search-input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;
  background-color: #e77f7f;
  border: none;
  height: 27px;
  font-size: 16px;
  outline: none;
  margin-top: 5px;
  color: white;
  padding-left: 10px;
  border-radius: 2px;
  font-weight: normal;
  -webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-placeholder-0\.0\.2\/stylesheets\/_compass-placeholder\.scss}line{font-family:\000032}}
.search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-placeholder-0\.0\.2\/stylesheets\/_compass-placeholder\.scss}line{font-family:\000036}}
.search-input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-placeholder-0\.0\.2\/stylesheets\/_compass-placeholder\.scss}line{font-family:\0000310}}
.search-input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-placeholder-0\.0\.2\/stylesheets\/_compass-placeholder\.scss}line{font-family:\0000314}}
.search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tinganho\/Development\/grunt-translate\/app\/modules\/search\/_search\.scss}line{font-family:\0000334}}
.search-input:focus {
  color: white;
}

/* Overrides */
