.m-translation-keys {
  margin-top: 40px;

  li {
    padding: 7px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-left: -20px;

    &.active {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
