
$padding: 40px;

[data-content=localization] {
  width: calc(720px - #{2 * $padding});
  margin: auto;
  background-color: #e2e2e2;
  padding: $padding;
}

.localization-title {
  color: #5a5a5a;
  font-size: 40px;
  word-wrap: break-word;
}

.localization-variables {
  margin-top: 40px;
}

.localization-variable {
  font-size: 19px;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.localization-input {
  margin-top: 10px;
  min-height: 40px;
  border: 1px solid #c4c4c4;
  background-color: #f3f3f3;
}

.localization-actions {
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.localization-action {
  float: left;
  display: inline-block;
  padding: 0px 10px;
  border-right: 1px solid #c4c4c4;
  font-size: 19px;
  font-weight: 300;
  cursor: pointer;
  margin: 5px 0;

  &:last-child {
    border-right: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.localization-textarea {
  display: block;
  margin: 0;
  padding: 10px;
  border: none;
  outline: none;
  min-height: 60px;
  background-color: transparent;
  resize: none;
  font-size: 19px;
  line-height: 23px;
  font-weight: 400;
  overflow: hidden;
  font-family: 'Helvetica Neue', Arial;
  width: calc(100% - 20px);
}

.localization-text-area-height-helper-container {
  height: 0px;
  overflow: hidden;
}

.localization-message {
  margin-top: 10px;
}

.localization-message-text {
  min-height: 70px;
}

.localization-buttons {
  overflow: hidden;
}

.localization-save {
  margin-top: 20px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 100;
  float: right;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}