
$padding: 40px;

[data-content=localization] {
  width: calc(720px - #{2 * $padding});
  margin: auto;
  background-color: #e2e2e2;
  padding: $padding;
}

.localization-title {
  color: #5a5a5a;
  font-size: 30px;
  word-wrap: break-word;
}

.localization-variables {
  margin-top: 40px;
}

.localization-variable {
  font-size: 19px;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.localization-input {
  margin-top: 10px;
  min-height: 40px;
  border: 1px solid #c4c4c4;
  background-color: #f3f3f3;
}

.localization-actions {
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.localization-action {
  float: left;
  display: inline-block;
  padding: 0px 10px;
  border-right: 1px solid #c4c4c4;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  margin: 5px 0;

  &:last-child {
    border-right: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.localization-textarea {
  display: block;
  margin: 0;
  padding: 10px;
  border: none;
  outline: none;
  min-height: 60px;
  background-color: transparent;
  resize: none;
  font-size: 19px;
  line-height: 23px;
  font-weight: 400;
  overflow: hidden;
  font-family: 'Helvetica Neue', Arial;
  width: calc(100% - 20px);
}

.localization-text-area-height-helper-container {
  height: 0px;
  overflow: hidden;
}

.localization-message {
  margin-top: 10px;
}

.localization-message-text {
  font-size: 14px;
  min-height: 70px;

  &.has-error {
    color: #f35f5f;
  }
}

.localization-buttons {
  position: relative;
  height: 50px;
}

.localization-save {
  position: absolute;
  right: 0;
  margin-top: 20px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 100;
  float: right;
  cursor: pointer;
  z-index: 1;
  @include transition(opacity 0.3s, transform 0.3s);

  .localization-buttons.is-hidden & {
    opacity: 0;
    @include transform(scale(0));
  }

  .localization-buttons.is-revealed & {
    opacity: 1;
    @include transform(scale(1));

    &:active {
      opacity: 0.3;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}

.localization-loading-canvas {
  position: absolute;
  right: -64px;
  width: 200px;
  height: 80px;
  float: right;
  @include transform(scale(.5));
  @include transition(opacity 0.3s, transform 0.3s);

  .localization-buttons.is-hidden & {
    opacity: 1;
    @include transform(scale(0.5));
  }

  .localization-buttons.is-revealed & {
    opacity: 0;
    @include transform(scale(0));
  }
}