
@import "./ValueGroupShadow";

.value-group {
  position: relative;
  padding: 5px;
  background-color: #d4d4d4;
  border-radius: 4px 0 4px 4px;
  margin-bottom: 5px;
  @include transform-origin(100%, 12px);

  &.is-moving {
    @include box-shadow(0 2px 30px rgba(0, 0, 0, 0.5));
    @include transform(rotateZ(1deg));
  }
}

.value-group-grip {
  position: absolute;
  top: 0;
  border-radius: 0px 4px 4px 0;
  right: 0px;
  background-color: #d4d4d4;
  width: 35px;
  height: 28px;
  margin-right: -35px;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  display: none;

  .is-movable & {
    display: block;
  }

  &.is-grabbed {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.value-group-grip-icon {
  margin-top: -2px;
}