
$padding-left: 40px;
$padding-right: 20px;

.localizations {
  padding: $padding-left 0 0;
  background-color: #e2e2e2;
  overflow: hidden;
}

.localizations-header {
  font-weight: 100;
  margin-bottom: 40px;
  overflow: hidden;
  @include font-size(4.2);
}

.localizations{
  .localization {
    cursor: pointer;
    overflow: hidden;
    padding: 10px 0;

    &:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.localization:last-child {
  margin-bottom: 40px;
}

.localization-col {
  float: left;
  width: calc(50% - #{$padding-left + $padding-right});
  padding-left: $padding-left;
  padding-right: $padding-right;
  word-wrap: break-word;
}

.localization-key,
.localization-value {
  font-size: 16px;
}

.localization-load-anchor {
  height: 60px;
  display: block;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;

  &:hover {
    color: #fff;
  }
}
