
html {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  background-color: #ebebeb;
}

.app {
  overflow: hidden;
}

.app-header {
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 10000;
  background-color: #e04d4d;
  display: table;
  @include box-shadow(0px 2px 3px 0px rgba(0, 0, 0, 0.2));
}

.app-search {
  position: relative;
  width: 720px;
  margin: 0px auto;
  height: 100%;
  display: table;
}

.app-translations {
  width: 720px;
  margin: 100px auto;
  @include transform(translateZ(0));
}

.app-translation {
  position: fixed;
  top: 20%;
  width: 100%;
  height: 80%;
}
