if(isNaN(parseFloat(it.{{=it.variableName}})) || it.{{=it.variableName}} {{=it.type}} {{=it.lowestLimit}} || it.{{=it.variableName}} {{=it.limits.lower.type}} {{=it.limits.lower.value}} && it.{{=it.variableName}} {{=it.limits.upper.type}} {{=it.limits.upper.value}}) {
{{=it.body}}
}