function(value, minimumDigits) {
  minimumDigits = minimumDigits || 1;
  var fractionDigits = minimumDigits - {{=it.minimumIntegerDigits}};
  if(fractionDigits < 0) {
    fractionDigits = 0;
  }
  return formatNumber({
    number: value,
    type: 'floating',
    roundTo: {{=it.roundTo}} / Math.pow(10, fractionDigits),
    prefix: '',
    suffix: '',
    percentage: null,
    permille: null,
    currency: null,{{?it.groupSize}}
    groupSize: {
      primary: {{=it.groupSize.primary}},
      secondary: {{=it.groupSize.secondary}}
    },{{??}}
    groupSize: null,{{?}}
    exponent: null,
    minimumIntegerDigits: {{=it.minimumIntegerDigits}},
    maximumIntegerDigits: {{=it.maximumIntegerDigits}},
    minimumFractionDigits: fractionDigits,
    maximumFractionDigits: fractionDigits,
    minimumSignificantDigits: 0,
    maximumSignificantDigits: 0,
    symbols: this.__numberSymbols['{{=it.numberSystem}}'],
    paddingCharacter: null,
    patternLength: {{=it.patternLength}}
  });
}