{{=it.variableName}} = {{=it.variableName}}
  .replace(/1/g, '{{=it.digits['1']}}')
  .replace(/2/g, '{{=it.digits['2']}}')
  .replace(/3/g, '{{=it.digits['3']}}')
  .replace(/4/g, '{{=it.digits['4']}}')
  .replace(/5/g, '{{=it.digits['5']}}')
  .replace(/6/g, '{{=it.digits['6']}}')
  .replace(/7/g, '{{=it.digits['7']}}')
  .replace(/8/g, '{{=it.digits['8']}}')
  .replace(/9/g, '{{=it.digits['9']}}')
  .replace(/0/g, '{{=it.digits['0']}}');