
.search::selection {
  background: #aed2ff;
}

.search-results {
  position: absolute;
  top: 35px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 4px 0;
  @include box-shadow(0 4px 6px 2px rgba(0, 0, 0, 0.10));
}

.search-result {
  cursor: pointer;
  padding: 5px 10px;

  &.active {
    background-color: #ff5757;
    color: #fff;
  }
}

.search-result-key {
  font-weight: 300;
  font-size: 16px;
}

.search-result-value {
  font-size: 14px;
  font-weight: 300;
  color: #999;

  .active & {
    color: #fff;
  }
}
