//
// Bootstrap for desktop web browsers
//
//   * Imports of plugins and libraries
//   * General styles
//   * Layouts
//   * Modules
//   * Components
//   * Overrides
//
// We use SMACSS & OOCSS as the foundation for our styling.
// Please re-use so much of the pre-defined styles as possible.
//
// We use the following pre-fixes for SMACSS
//
//   * "l" - for layout
//   * "m" - for modules
//   * "c" - for components
//   * "is" - for different states
//
// We don't use any pre-fixes for class-modifiers
//
// We have a rule one module per file and one component per
// file!(Even if the modules or only have a few LOC)
//
// Under each file there should be a description and a content
// list like on this file describing the file.
//
// On deploy to production. Please prune all the unused
// CSS-selectors that stylewithclass produces
//
// As for comments:
//
//   * Use "//" if you don't want your comments to show up in
//     your compiled files
//   * Use "/* */" if you want your comments to show up in your
//     compiled files
//
// Authors:
//
//   * Tingan, tingan@p1.cn
//


// Configuration

$default-font-size: 16;
$sprite-folders: icons;



/* Imports of vendors */
@import "susy";
@import "breakpoint";
@import "toolkit";


/* Images */
@import "main/*.png";
@include all-main-sprites;

// Susy settings
$total-columns: 12; // 12 columns
$column-width: 1em; // columns are 4em wide
$gutter-width: 3em; // with 1em gutters
$grid-padding: 1em; // and 1em padding on the grid conta

.page {
  @include container;
  height: 100%;
  overflow: hidden;
}
.main-menu ul {
  @include container;
  height: 40px;
  font-size: 16px;
}


/* Import of utilities */
@import "compass";
@import "compass-placeholder";
@import "compass-retina-sprites";
@import "animation";

/* General styles */
@import "compass/reset";
@import "compass/css3/box-sizing";
* { @include box-sizing( content-box ); }

/* Base */
@import "../lib/scss/base";

/* Components */
@import "../lib/scss/menues";
@import "../lib/scss/buttons";
@import "../lib/scss/forms";

/* Regions */
@import "../pages/translations/translationsPage";

/* Modules */
@import "../modules/translations/views/translation/translation";
@import "../modules/translations/views/translations/translations";
@import "../modules/locales/locales";
@import "../modules/search/search";

/* Overrides */
