
@import "compass/css3/user-interface";

.condition-operand {
  position: relative;
  cursor: pointer;
  width: 80px;
  color: #333;
  overflow: hidden;
  @include user-select(none);

  &:active, &.active {
    overflow: visible;

    .condition-value {
      color: #333;
    }
  }
}

.condition-value {
  @include font-size(1.5);
  font-weight: normal;
  color: #fff;
}

.condition-custom-operand {
  position: relative;
  padding: 0 10px;
  height: 44px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;

  &.checked {
    .condition-check {
      visibility: visible;
    }
  }
}

.condition-custom-operand-input {
  position: absolute;
  top: 3px;
  margin: 0;
  border: none;
  height: 30px;
  width: calc(100% - 55px);
  padding: 0 30px 0 5px;
  border: 1px solid #f0dada;
  border-radius: 2px;
  @include font-size(1.4);

  &:focus {
    border: 1px solid #FF5757;
  }
}

.condition-custom-operand-info {
  @include font-size(1.0);
  line-height: 10px;
  font-weight: normal;
  color: #bbb;
  margin: 0 15px 20px 15px;
}

.condition-variable-operand {
  position: relative;
  padding: 0 15px;
  height: 35px;
  font-weight: normal;

  &:hover {
    background-color: #FF5757;
    color: #fff;

    .condition-check {
      @extend .sp-default-check-hover;
    }
  }

  &.checked {
    .condition-check {
      visibility: visible;
    }
  }
}

.condition-check {
  visibility: hidden;
}

