
.condition {
  background-color: #acabab;
  border-radius: 2px;
  color: #fff;
  font-weight: normal;
  margin-right: 2px;
  margin-left: 1px;
  margin-bottom: 10px;
  height: 35px;
  @include box-shadow(1px 1px 0px 0px rgba(0, 0, 0, 0.2));
}

.condition,
.condition-variable-operand,
.condition-then,
.condition-operators-value {
  @include font-size(1.5);
}

.condition-item {
  position: relative;
  padding: 0 15px;
  height: 100%;
  line-height: 35px;
  float: left;
  font-weight: normal;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &:active, &.active {
    color: #333;
    background-color: #fff;
    overflow: visible;
  }
}

.condition-statement {
  padding: 0 15px;
  height: 100%;
  line-height: 35px;
  float: left;
}

.condition-vertical {
  border-right: 1px solid #a0a0a0;
  height: 25px;
  float: left;
  margin: 5px 0;
}

.condition-dropdown {
  position: absolute;
  top: 35px;
  left: 0;
  width: 220px;
  background-color: #fff;
  padding-top: 10px;
  border-radius: 0px 0px 2px 2px;
  z-index: 100000;
  @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

.condition-dropdown-list-item {
  position: relative;
  padding: 0 15px;
  height: 35px;
  font-weight: normal;

  &:hover {
    background-color: #FF5757;
    color: #fff;

    .condition-check {
      @extend .sp-default-check-hover;
    }
  }
}

.condition-check {
  position: absolute;
  top: 10px;
  right: 15px;
}

.condition-then {
  font-weight: normal;
}

.condition-exit {
  height: 100%;
  cursor: pointer;
  float: right;
  line-height: 30px;
  margin-right: 10px;
}

$side : 17px;
.condition-exit-background {
  width: $side;
  height: $side;
  display: inline-block;
  line-height: 13px;
  text-align: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.07);
  }
}

@import "./condition_operand";
@import "./condition_operators";
@import "./condition_then";
