
html {
  font: 100 14px/18px "Helvetica Neue", "Roboto", Arial, sans-serif;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
}

h1 {
  font-size: 48px;
  font-weight: 100;
  line-height: 58px;
}

@media(max-width: 500px) {
  h1 {
    font-size: 32px;
    line-height: 34px;
    font-weight: 200;
  }
}

h2 {
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
}

@media(max-width: 500px) {
  h2 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 200;
  }
}


a {
  text-decoration: none;
  color: #ffffff;
}

@media(max-width: 800px) {
  a {
    font-weight: 200;
  }
}

.menu {
  float: right;
  font-size: 18px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.menu-item {
  float: left;
  margin-left: 22px;
  line-height: 28px;
}

.menu-item:active {
  opacity: 0.3;
}

.timeline-pin-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.timeline-pin {
  width: 15px;
  height: 15px;
  border-radius: 1000px;
  background-color: #ffffff;
  border: 3px solid #d0d0d0;
  display: inline-block;
}

code .blue {
  color: #62beff;
}

code .red {
  color: #ed515c;
}

code .yellow {
  color: #dde171;
}

code .green {
  color: #77a565;
}

code .tab {
  margin-left: 20px;
}
