
.top-bar {
  width: 800px;
  color: #ffffff;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 14px 0;
  overflow: hidden;
}

.logo {
  font-size: 18px;
  float: left;
}

.hero {
  margin-top: 110px;
  width: 800px;
  margin: 0 auto;
  color: #ffffff;
  overflow: hidden;
  margin: 100px auto 0px;
}

.hero-title,
.hero-description {
  text-align: center;
}

.hero-install {
  text-align: center;
  margin-top: 50px;
}

.hero-install-text {
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  line-height: 24px;
}

.hero-image {
  margin-top: 50px;
  text-align: center;
}

.worflow-section-title {
  margin-top: 100px;
  text-align: center;
}

.workflow-timeline {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -1.5px;
  background-color: #d0d0d0;
  width: 3px;
  height: 800px;
}

.workflow-step {
  position: relative;
  width: 800px;
  margin: 0 auto;
  display: table;
}

.description {
  display: table-cell;
  vertical-align: middle;
  width: calc(800px / 2 - 40px);
}

.description-left {
  text-align: right;
}

.description-right {
  text-align: left;
}

.code-container {
  display: table-cell;
  vertical-align: middle;
  width: calc(800px / 2 - 40px);
}

.code {
  padding: 15px 40px;
  color: #ffffff;
  display: block;
  background-color: #333333;
  border-radius: 10px;
}

.code-right {
  margin: 40px 40px 40px 0;
}

.code-left {
  margin: 40px 0 40px 40px;
}
