
body {
  background-color: #ebebeb;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 28px;
  padding: 10px 0;
  background-color: rgb(224, 77, 77);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.body {
  overflow: hidden;
  width: 900px;
  margin: 80px auto 0;
  padding-bottom: 100px;
}

.left-column {
  width: 240px;
  min-height: 100px;
  float: left;
}

.main-column {
  width: 640px;
  min-height: 100px;
  float: left;
  margin-left: 20px;
}

:target:before {
  content: "";
  display: inline-block;
  height: 100px;
  margin: -100px 0 0;
}
