
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

section {
  overflow: hidden;
  padding-bottom: 90px;
}

.sec-hero {
  position: relative;
  overflow: hidden;
  min-height: 700px;
  background: url('/images/background.jpg');
  background-size: cover;
}

@media(max-height: 500px){
  .sec-hero {
    min-height: 500px;
  }
}

.sec-grey {
  background-color: #f7f7f7;
}

footer {
  position: relative;
  height: 150px;
  overflow: hidden;
}

@media(max-width: 700px) {
  footer {
    height: 60px;
  }
}
