
.sec-title {
  text-align: center;
  font-size: 48px;
  line-height: 50px;
  margin: 85px auto 0;
}

.sec-desc {
  text-align: center;
  width: 700px;
  font-size: 24px;
  line-height: 28px;
  margin: 50px auto 0;
}

.logo {
  position: absolute;
  left: 17px;
  top: 17px;
}

.logo-image {
  display: block;
  height: 44px;
  width: 110px;
  background: url('/images/logo.png');
  background-size: 110px 44px;
}

.nav {
  margin-top: 20px;
}

.nav-items {
  height: 44px;
  line-height: 44px;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  float: left;
  font-weight: 300;
  margin: 0 10px;
  cursor: pointer;
}

.nav-item:active {
  opacity: .3;
}

.nav-anchor {
  color: #a0a0a0;
  font-size: 16px;
}

.nav-anchor:hover {
  color: #ccc;
}

.hero-image-container {
  margin-top: 50px;
}

.hero-center {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}

.hero-title {
  z-index: 1;
  color: #fff;
  text-align: center;
  margin: 60px 0;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  color: #2018c7;
  font-weight: 200;
  width: 220px;
  height: 55px;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
}

.hero-button:active {
  color: rgba(32, 24, 199, 0.3);
}

.hero-instruction {
  color: #fff;
  margin-top: 15px;
  font-weight: 300;
}

.messageformat-sec {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}

.messageformat-sec-desc {
  width: 520px;
}

.messageformat-sec-desc-title {
  font-size: 48px;
  line-height: 48px;
}

.messageformat-sec-desc-text {
  font-size: 24px;
  line-height: 32px;
}

.messageformat-sec-example {
  background-color: #fff;
  margin-top: 40px;
  border-radius: 5px;
  padding: 50px 40px;
  margin-left: 80px;
}

.messageformat-sec-example-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
