
.sec-title {
  text-align: center;
  font-size: 48px;
  line-height: 50px;
  margin: 85px auto 0;
}

@media(max-width: 400px) {
  .sec-title {
    font-size: 38px;
    line-height: 40px;
    margin: 50px auto 0;
  }
}

.sec-desc {
  text-align: center;
  width: 700px;
  font-size: 24px;
  line-height: 34px;
  margin: 50px auto 0;
}

@media(max-width: 550px) {
  .sec-desc {
    font-size: 18px;
    line-height: 26px;
  margin: 30px auto 0;
  }
}

@media(max-width: 700px) {
  .sec-desc {
    width: 90%;
  }
}

#markup {
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
}

@media(max-width: 550px) {
  #markup {
    font-size: 32px;
    line-height: 38px;
  }
}

.logo {
  position: absolute;
  left: 17px;
  top: 17px;
}

.logo-image {
  display: block;
  height: 44px;
  width: 110px;
  background: url('/images/logo.png');
  background-size: 110px 44px;
  margin-top: 3px;
}

.nav {
  margin-top: 20px;
}

@media(max-width: 700px) {
  .nav {
    display: none;
  }
}

.nav-items {
  height: 44px;
  line-height: 44px;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  float: left;
  font-weight: 300;
  margin: 0 10px;
  cursor: pointer;
}

.nav-item:active {
  opacity: .3;
}

.nav-anchor {
  color: #a0a0a0;
  font-size: 16px;
}

.nav-anchor:hover {
  color: #ccc;
}

.hero-image-container {
  margin-top: 50px;
}

.hero-center {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}

@media(max-width: 500px) {
  .hero-center {
    top: 20%;
  }
}

.hero-title {
  z-index: 1;
  color: #fff;
  text-align: center;
  margin: 60px 0;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  color: #2018c7;
  font-weight: 200;
  width: 220px;
  height: 55px;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
}

.hero-button:active {
  color: rgba(32, 24, 199, 0.3);
}

.hero-instruction {
  color: #fff;
  margin-top: 15px;
  font-weight: 300;
}

.msgfmt-sec {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  margin: 60px auto 0;
  padding-bottom: 0;
}

.msgfmt-sec-desc {
  width: 520px;
}

.msgfmt-sec-desc-title {
  font-size: 48px;
  line-height: 48px;
}

.msgfmt-sec-desc-text {
  font-size: 24px;
  line-height: 32px;
}

.msgfmt-ex {
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  padding:0px 40px;
  width: 180px;
  height: 340px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  -moz-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}

.msgfmt-ex:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.msgfmt-ex:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.hidden .msgfmt-ex {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  transform: translateY(50px);
}

.visible .msgfmt-ex {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}


@media(max-width: 800px) {
  .msgfmt-ex:nth-child(3) {
    display: none;
  }

  .msgfmt-ex {
    width: 240px;
    padding:0px 30px;
  }
}

@media(max-width: 540px) {
  .msgfmt-ex:nth-child(2) {
    display: none;
  }

  .msgfmt-ex {
    width: calc(100% - 120px);
  }
}

.msgfmt-markup {
  min-height: 180px;
  border-bottom: #e3e3e3 1px solid;
}

.msgfmt-ex-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 20px 0;
}

.msgfmt-ex-code {
  display: block;
  height: 100px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Helvetica Neue', arial;
  font-weight: 300;
}

@media(max-width: 800px) {
  .msgfmt-ex-title {
    font-size: 24px;
    line-height: 28px;
  }

  .msgfmt-ex-code {
    font-size: 18px;
    line-height: 22px;
  }
}

.msgfmt-output {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin-bottom: 30px;
}

.msgfmt-ex-output {
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
}

.msgfmt-ex-code-line {
  margin: 0;
}

.workflow {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  margin-top: 60px;
}

.workflow-list {
  width: 350px;
  margin: 0;
  -webkit-padding-start: 0px;
}

.workflow-list-item {
  position: relative;
  background-color: #f7f7f7;
  font-size: 24px;
  line-height: 28px;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  -moz-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}

.workflow-list-item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.workflow-list-item:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.workflow-list-item:nth-child(4) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hidden .workflow-list-item {
  opacity: 0;
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  transform: translateX(-100px);
}

.visible .workflow-list-item {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.workflow-order {
  position: absolute;
  left: 20px;
  font-weight: 300;
}

.workflow-image {
  width: 900px;
  margin-right: -500px;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  -moz-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}

.hidden .workflow-image {
  opacity: 0;
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  transform: translateX(100px);
}

.visible .workflow-image {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

@media(max-width: 800px) {
  .workflow-image {
    display: none;
  }
}

.web-interface-image {
  width: 800px;
  margin: 60px auto -90px;
  display: block;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  -moz-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}

.hidden.web-interface-image {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  transform: translateY(50px);
}

.visible.web-interface-image {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

@media(max-width: 800px) {
  .web-interface-image {
    width: 100%;
  }
}

.contribute-icons {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  margin-top: 100px;
}

.contribute-icon {
  width: 160px;
  height: 160px;
  margin: 0 20px 60px;
  cursor: pointer;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  -moz-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
}

.contribute-anchor:nth-child(2) .contribute-icon {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.contribute-anchor:nth-child(3) .contribute-icon {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.hidden .contribute-icon {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  transform: translateY(50px);
}

.visible .contribute-icon {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

@media(max-width: 600px) {
  .contribute-icon {
    width: 120px;
    height: 120px;
  }
}

@media(max-width: 480px) {
  .contribute-icon {
    width: 80px;
    height: 80px;
  }
}

.contribute-icon:active {
  opacity: 0.3;
}

.contribute-author {
  color: #666;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}

.contribute-author a {
  color: #999;
}

.contribute-author a:active {
  opacity: 0.3;
}
