
.sec-title {
  text-align: center;
  font-size: 48px;
  line-height: 50px;
  margin: 85px auto 0;
}

.sec-desc {
  text-align: center;
  width: 700px;
  font-size: 24px;
  line-height: 34px;
  margin: 50px auto 0;
}

#markup {
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
}

.logo {
  position: absolute;
  left: 17px;
  top: 17px;
}

.logo-image {
  display: block;
  height: 44px;
  width: 110px;
  background: url('/images/logo.png');
  background-size: 110px 44px;
}

.nav {
  margin-top: 20px;
}

.nav-items {
  height: 44px;
  line-height: 44px;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  float: left;
  font-weight: 300;
  margin: 0 10px;
  cursor: pointer;
}

.nav-item:active {
  opacity: .3;
}

.nav-anchor {
  color: #a0a0a0;
  font-size: 16px;
}

.nav-anchor:hover {
  color: #ccc;
}

.hero-image-container {
  margin-top: 50px;
}

.hero-center {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}

.hero-title {
  z-index: 1;
  color: #fff;
  text-align: center;
  margin: 60px 0;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  color: #2018c7;
  font-weight: 200;
  width: 220px;
  height: 55px;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
}

.hero-button:active {
  color: rgba(32, 24, 199, 0.3);
}

.hero-instruction {
  color: #fff;
  margin-top: 15px;
  font-weight: 300;
}

.msgfmt-sec {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  /*flex-wrap: wrap;
  -webkit-flex-wrap: wrap;*/
  margin: 60px auto 0;
  padding-bottom: 0;
}

.msgfmt-sec-desc {
  width: 520px;
}

.msgfmt-sec-desc-title {
  font-size: 48px;
  line-height: 48px;
}

.msgfmt-sec-desc-text {
  font-size: 24px;
  line-height: 32px;
}

.msgfmt-ex {
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  padding:0px 40px;
  width: 180px;
  height: 340px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: column;
}

.msgfmt-markup {
  min-height: 180px;
  border-bottom: #e3e3e3 1px solid;
}

.msgfmt-ex-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 20px 0;
}

.msgfmt-ex-code {
  display: block;
  height: 100px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Helvetica Neue', arial;
  font-weight: 300;
}

.msgfmt-output {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  margin-bottom: 30px;
}

.msgfmt-ex-output {
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
}

.msgfmt-ex-code-line {
  margin: 0;
}

.workflow {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  margin-top: 60px;
}

.workflow-list {
  width: 350px;
  margin: 0;
  -webkit-padding-start: 0px;
}

.workflow-list-item {
  position: relative;
  background-color: #f7f7f7;
  font-size: 24px;
  line-height: 28px;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
  color: ;
}

.workflow-order {
  position: absolute;
  left: 20px;
  font-weight: 300;
}

.workflow-image {
  width: 900px;
  margin-right: -500px;
}

.web-interface-image {
  width: 800px;
  margin: 60px auto -90px;
  display: block;
}

.contribute-icons {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  margin-top: 100px;
}

.contribute-icon {
  width: 160px;
  height: 160px;
  margin: 0 20px 60px;
  cursor: pointer;
}

.contribute-icon:active {
  opacity: 0.3;
}

.contribute-author {
  color: #666;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}

.contribute-author a {
  color: #999;
}

.contribute-author a:active {
  opacity: 0.3;
}
