
.red-section {
  height: 770px;
  background-color: #fb6c6c;
}

@media(max-width: 500px) {
  .red-section {
    height: 600px;
  }
}

.hero-section {
  position: relative;
  min-height: 400px;
}

.complex-translation-section {
  height: 806px;
}

@media(max-width: 500px) {
  .complex-translation-section {
    height: 550px;
  }
}
