
.left-menu-items {
  position: absolute;
  left: 8px;
  width: 220px;
}

.left-menu-item {
  float: left;
  color: #fff;
  opacity: 0.7;
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.left-menu-anchor {
  height: 40px;
  display: inline-block;
}

.left-menu-icon {
  margin-top: -3px;
}

.left-menu-text {
  margin-left: 3px;
}

.left-menu-text-home {
  margin-left: 10px;
}